body.workshop {
	background-color: #BEC3C6;
	margin: 20px 0;
}

.card {
	background-color: white;
}

/* Top banner of every page. */
div.banner {
	background-color: #FFFFFF;
	width: 100%;
	height: 90px;
	margin: 0px;
	padding: 0;
	border-bottom: 1px solid #A6A6A6;
}

/* Padding around image in top banner. */
div.banner a img {
	padding: 20px 25px;
}

/* Footer of every page. */
div.footer {
	clear: both;
	background: url("/img/main_shadow.png") repeat-x scroll center top #FFFFFF;
	padding: 4px 10px 7px 10px;
	border-top: 1px solid #A6A6A6;
	text-align: right;
}