Inigo Aldazabal Mensa <inigo_aldazabal@ehu.eus>
Harriet Alexander <halexand@mit.edu>
James Allen <james@sharelatex.com>
James Allen <jamesallen0108@gmail.com>
Areej Alsheikh-Hussain <areej.alsheikh@gmail.com>
Daniel Baird <daniel@danielbaird.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Pauline Barmby <pbarmby@uwo.ca>
Rob Beagrie <rob@beagrie.com>
Trevor Bekolay <tbekolay@gmail.com>
Evgenij Belikov <eb120@hw.ac.uk>
Jason Bell <j.bell@cqu.edu.au>
Kai Blin <kblin@biosustain.dtu.dk>
John Blischak <jdblischak@gmail.com>
Simon Boardman <simonboardman@gmail.com>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Jessica Bonnie <jessica.k.bonnie@gmail.com>
Andy Boughton <abought@gmail.com>
Andy Boughton <pchemist@gmail.com>
Ry4an Brase <ry4an@dramafever.com>
Amy Brown <amyrhoda@gmail.com>
Dana Brunson <dbrunson@users.noreply.github.com>
Orion Buske <orion.buske@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@oicr.on.ca>
Daniel Chen <Maveri2k@yahoo.com>
Kathy Chung <kchung@chass.utoronto.ca>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Emily Dolson <emilyldolson@gmail.com>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com>
Rémi Emonet <remi.emonet@univ-st-etienne.fr>
David Eyers <dme@cs.otago.ac.nz>
Filipe Fernandes <ocefpaf@gmail.com>
Hugues Fontenelle <huguesfontenelle@users.noreply.github.com>
Francis Gacenga <gacenga@usq.edu.au>
Matthew Gidden <matthew.gidden@gmail.com>
Ivan Gonzalez <iglpdc@gmail.com>
Norman Gray <norman@astro.gla.ac.uk>
Varda F. Hagh <vfaghirh@asu.edu>
Michael Hansen <hansen.mike@gmail.com>
Emelie Harstad <eharstad@unl.edu>
Adina Howe <adina.chuang@gmail.com>
Fatma Imamoglu <fatmaimamoglu@gmail.com>
Damien Irving <damien_irving@yahoo.com.au>
Damien Irving <irving.damien@gmail.com>
Mike Jackson <m.jackson@software.ac.uk>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Emily Jane McTavish <ejmctavish@gmail.com>
Michael Jennings <mej@lbl.gov>
Dan Jones <djon002@aucklanduni.ac.nz>
Alix Keener <alixkee@umich.edu>
Kristopher Keipert <keipertk@gmail.com>
Tom Kelly <tom.kelly@postgrad.otago.ac.nz>
Jan T. Kim <jttkim@gmail.com>
W. Trevor King <wking@tremily.us>
Christina Koch <christinakconnect@gmail.com>
Christina Koch <ckoch5@wisc.edu>
Bernhard Konrad <bernhard.konrad@gmail.com>
Sherry Lake <shlake@virginia.edu>
Doug Latornell <djl@douglatornell.ca>
Philip Lijnzaad <plijnzaad@gmail.com>
Eric Ma <ericmajinglong@gmail.com>
Joshua Madin <joshua.madin@mq.edu.au>
Camille Marini <camille.marini@feetme.fr>
Camille Marini <camille.marini@gmail.com>
Kunal Marwaha <marwahaha@berkeley.edu>
Sergey Mashchenko <pulsar124@gmail.com>
François Michonneau <francois.michonneau@gmail.com>
Ryan Middleton <ryan.middleton@nau.edu>
Jackie Milhans <milhans@users.noreply.github.com>
Bill Mills <mills.wj@gmail.com>
Amanda Miotto <a.miotto@griffith.edu.au>
Sarah Mount <s.mount@wlv.ac.uk>
Lex Nederbragt <lex.nederbragt@bio.uio.no>
Daiva Nielsen <daiva.nielsen@gmail.com>
Aaron O'Leary <aaron.oleary@gmail.com>
Randy Olson <rso@randalolson.com>
Adam Orr <adamjorr@gmail.com>
Nina Overgard Therkildsen <nthe@stanford.edu>
Kirill Palamartchouk <kpalamartchouk@gmail.com>
Adam Perry <adam.n.perry@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Hossein Pourreza <pourreza@yahoo.com>
Timothy Povall <timpovall@gmail.com>
Adam Richie-Halford <richford@uw.edu>
Scott Ritchie <sritchie73@gmail.com>
Noam Ross <noam.ross@gmail.com>
Halfdan Rydbeck <hrydbeck@gmail.com>
Mahdi Sadjadi <Mahdisadjadi@users.noreply.github.com>
Pat Schloss <pschloss@umich.edu>
Bertie Seyffert <20126999@nwu.ac.za>
Genevieve Shattow <gshattow@astro.swin.edu.au>
Raniere Silva <ra092767@ime.unicamp.br>
Raniere Silva <raniere@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com>
Sarah Simpkin <ssimpkin@users.noreply.github.com>
John Simpson <jsympson@gmail.com>
Byron Smith <bsmith89@gmail.com>
Nicola Soranzo <nsoranzo@tiscali.it>
Ashwin Srinath <ashwinsrnth@gmail.com>
Ashwin Srinath <atrikut@clemson.edu>
Daniel Standage <daniel.standage@gmail.com>
Meg Staton <mestato@gmail.com>
Peter Steinbach <steinbac@mpi-cbg.de>
Peter Steinbach <steinbach@scionics.de>
Marcel Stimberg <marcel.stimberg@inserm.fr>
Bartosz Telenczuk <bartosz@telenczuk.pl>
Florian Thoele <florian.thoele@mat.ethz.ch>
Tiffany Timbers <tiffany.timbers@gmail.com>
Stephen Turner <vustephen@gmail.com>
Jay van Schyndel <ozej8y@gmail.com>
Anelda van der Walt <anelda.vdwalt@gmail.com>
David Vollmer <admin@nkn.uidaho.edu>
Jens von der Linden <jensvonderlinden@gmail.com>
Andrew Walker <andrew.walker@bristol.ac.uk>
Josh Waterfall <josh.waterfall@nih.gov>
Ethan White <ethan@weecology.org>
Carol Willing <carolcode@willingconsulting.com>
Greg Wilson <gvwilson@software-carpentry.org>
Greg Wilson <gvwilson@third-bit.com>
Donny Winston <dwinston@alum.mit.edu>
Lynn Young <lynny@mail.nih.gov>
Lee Zamparo <zamparo@gmail.com>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Alex Mac <alexmac3@uw.edu>
Amanda Miotto <amandamiotto@users.noreply.github.com>
Andrea Bedini <andreabedini@users.noreply.github.com>
Armin Sobhani <arminms@gmail.com>
Asher Baltzell <asherkhb@gmail.com>
Brian Bill <brianebill88@gmail.com>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Cesar B. Rocha <crocha@ucsd.edu>
Stéphane Guillou <stephane.guillou@gmail.com>
Daniel McCloy <dan.mccloy@gmail.com>
Daniel Deveau <daniel.deveau@ace-net.ca>
Dean Attali <daattali@gmail.com>
Devinsuit <r.poryvaev@hotmail.com>
Danielle Nielsen <dmnielsen@gmail.com>
Dustin Lang <dstndstn@gmail.com>
Evan P. Williamson <evanpeterw@gmail.com>
Glen Beane <glen.beane@jax.org>
Holger Wolff <holger.wolff@monash.edu>
Jarek Bryk <j.bryk@hud.ac.uk>
Kally Chung <chung.kally@gmail.com>
Klemens Noga <klemens.noga@gmail.com>
Mahdi Sadjadi <sadjadi.seyedmahdi@gmail.com>
Mark Mandel <mandel01@users.noreply.github.com>
Matthew Peterson <petersm3@onid.oregonstate.edu>
Maria Doyle <maria.doyle@petermac.org>
Mike Carlise <carlise@acm.org>
Megan A. Jones <mjones01@BattelleEcology.org>
numicator <numicator@users.noreply.github.com>
Paul Gardner <ppgardner@gmail.com>
Phillip Doehle <doehle@okstate.edu>
Ryan Middleton <ryanmid@users.noreply.github.com>
Simon Boardman <s-boardman@users.noreply.github.com>
Shane Sanders <shane.sanders@jax.org>
ssmiller <ssmiller@users.noreply.github.com>
Tobin Magle <maglet@colostate.edu>
Tom Hohenstein <sirtah@gmail.com>
