Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Abigail Cabunoc <abigail.cabunoc@oicr.on.ca> <abigail.cabunoc@gmail.com>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Raniere Silva <raniere@ime.unicamp.br> <ra092767@ime.unicamp.br>
Anelda van der Walt <anelda.vdwalt@gmail.com> <anelda@users.noreply.github.com>
Bernhard Konrad <bernhard.konrad@gmail.com> <bernhard.konrad@gmail.com>
Christina Koch <ckoch5@wisc.edu> <christinakconnect@gmail.com>
Ivan Gonzalez <iglpdc@gmail.com> <iglpdc@users.noreply.github.com>
James Allen <jamesallen0108@gmail.com> <james@sharelatex.com>
Peter Steinbach <steinbac@mpi-cbg.de> <steinbach@scionics.de>
