Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Adina Howe <adina.chuang@gmail.com>
Amanda Miotto <amandamiotto@users.noreply.github.com>
Andrew Walker <a.walker@leeds.ac.uk> <andrew.walker@bristol.ac.uk>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Asher Baltzell <asherkhb@gmail.com>
Ashwin Srinath <ashwinsrnth@gmail.com> <atrikut@clemson.edu>
Ashwin Srinath <ashwinsrnth@gmail.com> <atrikut@g.clemson.edu>
Bartosz Telenczuk <bartosz@telenczuk.pl>
Bernhard Konrad <bernhard.konrad@gmail.com>
Brian Bill <brianebill88@gmail.com>
Camille Marini <camille.marini@feetme.fr>
Camille Marini <camille.marini@feetme.fr> <camille.marini@gmail.com>
Christina Koch <christinakconnect@gmail.com> <ckoch5@wisc.edu>
Daiva Nielsen <daiva.nielsen@gmail.com>
Damien Irving <damien_irving@yahoo.com.au> <irving.damien@gmail.com>
Daniel Deveau <daniel.deveau@ace-net.ca>
Danielle Nielsen <dmnielsen@gmail.com>
Emily Dolson <emilyldolson@gmail.com>
Eric Ma <ericmajinglong@gmail.com> <ericmjl@users.noreply.github.com>
Evan P. Williamson <evanpeterw@gmail.com>
Evgenij Belikov <eb120@hw.ac.uk>
Fatma Imamoglu <fatmaimamoglu@gmail.com>
Filipe Fernandes <ocefpaf@gmail.com>
Florian Thoele <florian.thoele@mat.ethz.ch>
François Michonneau <francois.michonneau@gmail.com>
François Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Genevieve Shattow <gshattow@astro.swin.edu.au>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Halfdan Rydbeck <hrydbeck@gmail.com>
Hossein Pourreza <pourreza@yahoo.com>
Ivan Gonzalez <iglpdc@gmail.com> <iglpdc@users.noreply.github.com>
James Allen <james@sharelatex.com> <jamesallen0108@gmail.com>
Jarek Bryk <j.bryk@hud.ac.uk>
Jason Bell <j.bell@cqu.edu.au>
Jens von der Linden <jensvonderlinden@gmail.com>
Jessica Bonnie <jessica.k.bonnie@gmail.com>
Kristopher Keipert <keipertk@gmail.com>
Mahdi Sadjadi <sadjadi.seyedmahdi@gmail.com>
Maria Doyle <maria.doyle@petermac.org>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Mike Carlise <carlise@acm.org>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Nicola Soranzo <nicola.soranzo@tgac.ac.uk> <nsoranzo@tiscali.it>
Nina Overgard Therkildsen <nthe@stanford.edu>
Pauline Barmby <pbarmby@uwo.ca>
Peter Steinbach <steinbac@mpi-cbg.de> <steinbach@scionics.de>
Phillip Doehle <doehle@okstate.edu>
Raniere Silva <raniere@rgaiacs.com> <ra092767@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com> <raniere@ime.unicamp.br>
Rémi Emonet <remi@heeere.com> <remi.emonet@reverse--com.heeere>
Rémi Emonet <remi@heeere.com> <twitwi@users.noreply.github.com>
Ryan Middleton <ryanmid@users.noreply.github.com>
Sergey Mashchenko <pulsar124@gmail.com>
Simon Boardman <s-boardman@users.noreply.github.com>
Stéphane Guillou <stephane.guillou@gmail.com>
Tiffany Timbers <tiffany.timbers@gmail.com>
Timothée Poisot <t.poisot@gmail.com> <tim@poisotlab.io>
