<p><img alt="The File System" src="../fig/filesystem.svg" /></p>
<hr/>
<p><img alt="Home Directories" src="../fig/home-directories.svg" /></p>
<hr/>
<p><img alt="File System for Challenge Questions" src="../fig/filesystem-challenge.svg" /></p>
<hr/>
<p><img alt="Nano in Action" src="../fig/nano-screenshot.png" /></p>
<hr/>
<p><img alt="Redirects and Pipes" src="../fig/redirects-and-pipes.png" /></p>
<hr/>
<p><img alt="For Loop in Action" src="../fig/shell_script_for_loop_flow_chart.svg" /></p>
<hr/>
<p><img alt="File Tree for Find Example" src="../fig/find-file-tree.svg" /></p>
