{% comment %}
  Display key points of all episodes for reference.
{% endcomment %}
<h2>Key Points</h2>
<table class="table table-striped">
{% for episode in site.episodes %}
  {% unless episode.break %}
    <tr>
      <td class="col-md-3">
        <a href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-9">
        <ul>
        {% for keypoint in episode.keypoints %}
        <li>{{ keypoint|markdownify }}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  {% endunless %}
{% endfor %}
</table>
