<p><img alt="The File System" src="{{ site.root }}/fig/filesystem.svg" /></p>
<hr/>
<p><img alt="Home Directories" src="{{ site.root }}/fig/home-directories.svg" /></p>
<hr/>
<p><img alt="File System for Challenge Questions" src="{{ site.root }}/fig/filesystem-challenge.svg" /></p>
<hr/>
<p><img alt="Nano in action" src="{{ site.root }}/fig/nano-screenshot.png" /></p>
<hr/>
<p><img alt="Redirects and Pipes" src="{{ site.root }}/fig/redirects-and-pipes.png" /></p>
<hr/>
<p><img alt="For loop in action" src="{{ site.root }}/fig/shell_script_for_loop_flow_chart.svg" /></p>
<hr/>
<p><img alt="File Tree for Find Example" src="{{ site.root }}/fig/find-file-tree.svg" /></p>
