{% comment %}
  General description of Software and Data Carpentry.
{% endcomment %}
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.swc_site }}"><img src="{{ page.root }}/assets/img/swc-icon-blue.svg" alt="Software Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    Since 1998,
    <a href="{{ site.swc_site }}">Software Carpentry</a>
    has been teaching researchers in science, engineering, medicine, and related disciplines
    the computing skills they need to get more done in less time and with less pain.
    Its volunteer instructors have run hundreds of events
    for thousands of learners in the past two and a half years.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.dc_site }}"><img src="{{ page.root }}/assets/img/dc-icon-black.svg" alt="Data Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    <a href="{{ site.dc_site }}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct research.
    Its target audience is researchers who have little to no prior computational experience,
    and its lessons are domain specific,
    building on learners' existing knowledge to enable them to quickly apply skills learned to their own research.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.lc_site }}"><img src="{{ page.root }}/assets/img/lc-icon-black.png" alt="Library Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    <a href="{{ site.lc_site }}">Library Carpentry</a> is made by librarians to help librarians
    automate repetitive, boring, error-prone tasks;
    create, maintain and analyse sustainable and reusable data;
    work effectively with IT and systems colleagues;
    better understand the use of software in research;
    and much more.
    Library Carpentry was the winner of the 2016
    <a href="http://labs.bl.uk/British+Library+Labs+Awards">British Library Labs Teaching and Learning Award</a>.
  </div>
</div>
