{% comment %}
  Descripción general de Software y Data Carpentry.
{% endcomment %}
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.swc_site }}"><img src="{{ page.root }}/assets/img/swc-icon-blue.svg" alt="Software Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
    Desde 1998,
    <a href="{{ site.swc_site }}">Software Carpentry</a>
    ha estado enseñando investigadores en ciencia, ingeniería, medicina y disciplinas relacionadas las habilidades informáticas que necesitan para hacer más en menos tiempo y con menos dolor. Sus instructores voluntarios han ejecutado cientos de eventos para miles de estudiantes en los últimos dos años y medio.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.dc_site }}"><img src="{{ page.root }}/assets/img/dc-icon-black.svg" alt="Data Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
      <a href="{{ site.dc_site }}">Data Carpentry</a> desarrolla y enseña talleres sobre las habilidades de datos fundamentales necesarias para realizar investigaciones. Su público objetivo son los investigadores que tienen poca o ninguna experiencia computacional previa, y sus lecciones son específicas del dominio, aprovechando el conocimiento existente de los alumnos para permitirles aplicar rápidamente las habilidades aprendidas a su propia investigación.
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2" align="center">
    <a href="{{ site.lc_site }}"><img src="{{ page.root }}/assets/img/lc-icon-black.png" alt="Library Carpentry logo" /></a>
  </div>
  <div class="col-md-8">
      <a href="{{ site.lc_site }}">Library Carpentry</a> es hecho por bibliotecarios para ayudar a los bibliotecarios automatizar tareas repetitivas, aburridas y propensas a errores; crear, mantener y analizar datos sostenibles y reutilizables; trabaje eficazmente con los colegas de TI y sistemas; comprender mejor el uso del software en la investigación; y mucho más.
    Library Carpentry fue el ganador del 2016
    <a href="http://labs.bl.uk/British+Library+Labs+Awards">Premio de enseñanza y aprendizaje de British Library Labs</a>.
  </div>
</div>
