{% comment %}
    Display an episode's timings and learning objectives.
{% endcomment %}
<blockquote class="objectives">
  <h2>Overview</h2>

  <div class="row">
    <div class="col-md-3">
      <strong>Teaching:</strong> {{ page.teaching }} min
      <br/>
      <strong>Exercises:</strong> {{ page.exercises }} min
    </div>
    <div class="col-md-9">
      <strong>Questions</strong>
      <ul>
	{% for question in page.questions %}
	<li>{{ question|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <strong>Objectives</strong>
      <ul>
	{% for objective in page.objectives %}
	<li>{{ objective|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>

</blockquote>
