<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link href="{{site.swc_url}}/v5/css/bootstrap/bootstrap.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="{{site.swc_url}}/v5/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{{site.swc_url}/v5/css/swc.css" />
<link rel="stylesheet" type="text/css" href="{{site.swc_url}}/v5/css/swc-bootstrap.css" />
<link rel="alternate" type="application/rss+xml" title="The Software Carpentry Blog" href="{{site.swc_url}}/feed.xml"/>
<meta charset="UTF-8" />
<meta http-equiv="last-modified" content="{{site.timestamp}}" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
