<hr/>
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2016
	{% if site.carpentry == "swc" %}<a href="{{ site.swc_site }}">Software Carpentry Foundation</a>{% endif %}
	{% if site.carpentry == "dc" %}<a href="{{ site.dc_site }}">Data Carpentry</a>{% endif %}
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.github.repository_url }}/">Source</a>
	/
	<a href="{{ site.github.repository_url }}/blob/gh-pages/CONTRIBUTING.md">Contributing</a>
	/
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
