<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
tiene como objetivo ayudar a los investigadores a hacer su trabajo en menos tiempo y con menos dolor enseñándoles habilidades básicas de informática de investigación. Este taller práctico cubrirá conceptos básicos y herramientas, incluyendo el diseño del programa, control de versiones, administración de datos, y automatización de tareas. Se animará a los participantes a ayudarse mutuamente y aplicar lo que han aprendido a sus propios problemas de investigación.
</p>
<p align="center">
  <em>
      Para más información sobre lo que enseñamos y por qué,
      por favor mira nuestro papel
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
