<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automatización de tareas con el terminal de Unix</td> </tr>
      <tr> <td>10:30</td>  <td>Café</td> </tr>
      <tr> <td>12:00</td>  <td>Almuerzo</td> </tr>
      <tr> <td>13:00</td>  <td>Creación de programas con Python</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Control de versiones con Git</td> </tr>
      <tr> <td>10:30</td>  <td>Café</td> </tr>
      <tr> <td>12:00</td>  <td>Almuerzo</td> </tr>
      <tr> <td>13:00</td>  <td>Gestión de datos con SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Café</td> </tr>
      <tr> <td>16:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
</div>
