<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">La Terminal de Unix</h3>
    <ul>
        <li>Archivos y directorios</li>
        <li>History and tab completion</li>
        <li>Tuberías y redirección</li>
        <li>Looping sobre archivos</li>
        <li>Crear y ejecutar scripts de terminal</li>
        <li>Encontrar cosas</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Referencia...</a></li>
    </ul>
  
  <!--  
  </div>
  <div class="col-md-6">
      <h3 id="syllabus-python">Programación en Python</h3>
      <ul>
          <li>Uso de bibliotecas</li>
          <li>Trabajando con matrices</li>
          <li>Lectura y trazado de datos</li>
          <li>Creación y uso de funciones</li>
          <li>Bucles y condicionales</li>
          <li>Programación defensiva</li>
          <li>Usando Python desde la línea de comando</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference/">Referencia...</a></li>
    </ul>
  </div>
    -->
  
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>
  -->
  

  <div class="col-md-6">
    <h3 id="syllabus-r">R para Análisis Científicos Reproducibles</h3>
    <ul>
    	<li>Gestión de proyectos con RStudio</li>
      <li>Explorando Data Frames</li>
      <li>Creando gráficas con <code>ggplot</code></li>
      <li>Creando y usando funciones</li>
      <li>Manipulando dataframes con <code>dplyr</code> y <code>plyr</code></li>
      <li>Escribiendo buen software</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>


 
  
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference/">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
      <h3 id="syllabus-git">Control de versiones con Git</h3>
      <ul>
          <li>Creando un repositorio</li>
          <li>Grabación de cambios en los archivos: <code>add</code>, <code>commit</code>, ...</li>
          <li>Ver cambios: <code>status</code>, <code>diff</code>, ...</li>
          <li>Ignorando archivos</li>
          <li>Trabajando en la web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
          <li>Resolviendo conflictos</li>
          <li>Licencias abiertas</li>
          <li>Dónde alojar el trabajo y por qué</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference/">Referencia...</a></li>
    </ul>
  </div>
  
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference/">Reference...</a></li>
    </ul>
  </div>
   -->
   
   <!-- 
  <div class="col-md-6">
      <h3 id="syllabus-r">Open Refine</h3>
      <ul>
          <li>Introducción a OpenRefine</li>
          <li>Importar datos</li>
          <li>Funciones básicas</li>
          <li>Funciones avanzadas</li>
          <li><a href="{{site.lc_pages}}library-openrefine/reference">Referencia...</a></li>
    </ul>
  </div>
</div>
-->