---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- meta "search-domain" used for google site search function google_search() -->
    <meta name="search-domain" value="{{ site.github.html_url }}">
    <link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/lesson.css" />
    <link rel="stylesheet" type="text/css" href="{{ page.root }}/assets/css/syntax.css" />
    {% if site.carpentry == "swc" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ page.root }}/assets/img/favicon-swc.ico" />
    {% elsif site.carpentry == "dc" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ page.root }}/assets/img/favicon-dc.ico" />
    {% elsif site.carpentry == "lc" %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ page.root }}/assets/img/favicon-lc.ico" />
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <title>{{ site.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
{{ content }}
      {% if site.kind == "workshop" %}
      {% include workshop_footer.html %}
      {% else %}
      {% include lesson_footer.html %}
      {% endif %}
    </div>
    {% include javascript.html %}
  </body>
</html>
