---
---
<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% endif %}
    {% include header.html %}
    <link rel="stylesheet" type="text/css" href="{{site.swc_url}}/v5/css/lesson.css" />
  </head>
  <body>
    <div class="container">
      {% include banner.html %}

      <div class="row-fluid">
        <div class="span10 offset1">
	  <!-- start content -->
          {% if page.title %}
          <h1>{{page.title}}</h1>
          {% endif %}
          {{content}}
	  <!-- end content -->
	</div>
      </div>

      {% include footer.html %}
    </div>
    {% include javascript.html %}
  </body>
</html>
