<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Software Carpentry</title>

  <!-- Required stylesheet -->
  <script src="js/deckjs-custom.js"></script>
  <script>includedeck(["css/slideshow.css"],{});</script>
  <style>
    .slide.title-slide h1 {padding-bottom: 0;} /* title is long... */
    a {text-decoration: underline;} /* make links clearer */
    pre {font-size: 75%;} /* make code blocks smaller */
  </style>

  <!-- Required Modernizr file -->
  <script src="js/modernizr.custom.js"></script>
</head>
<body>
  <div class="deck-container">

    <!-- Begin slides. Just make elements with a class of slide. -->
$body$
    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- End extension snippets. -->
  </div>
</body>
</html>
