<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">El Terminal de Unix</h3>
    <ul>
      <li>Archivos y directorios</li>
      <li>History and tab completion</li>
      <li>Tuberías y redirección</li>
      <li>Looping sobre archivos</li>
      <li>Crear y ejecutar scripts de terminal</li>
      <li>Encontrar cosas</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference/">Referencia...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programación en Python</h3>
    <ul>
      <li>Uso de bibliotecas</li>
      <li>Trabajando con matrices</li>
      <li>Lectura y trazado de datos</li>
      <li>Creación y uso de funciones</li>
      <li>Bucles y condicionales</li>
      <li>Programación defensiva</li>
      <li>Usando Python desde la línea de comando</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference/">Referencia...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programación en R</h3>
    <ul>
      <li>Trabajando con vectores y marcos de datos</li>
      <li>Lectura y trazado de datos</li>
      <li>Creación y uso de funciones</li>
      <li>Bucles y condicionales</li>
      <li>Usando R desde la línea de comando</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Referencia...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programación en MATLAB</h3>
    <ul>
      <li>Trabajando con matrices</li>
      <li>Lectura y trazado de datos</li>
      <li>Creación y uso de funciones</li>
      <li>Bucles y condicionales</li>
      <li>Programación defensiva</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference/">Referencia...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Control de versiones con Git</h3>
    <ul>
      <li>Creando un repositorio</li>
      <li>Grabación de cambios en los archivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Ver cambios: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando archivos</li>
      <li>Trabajando en la web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolviendo conflictos</li>
      <li>Licencias abiertas</li>
      <li>Dónde alojar el trabajo y por qué</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference/">Referencia...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Gestión de datos con SQL</h3>
    <ul>
      <li>Lectura y clasificación de datos</li>
      <li>Filtrando con <code>where</code></li>
      <li>Cálculo de nuevos valores sobre la marcha</li>
      <li>Manejo de valores faltantes</li>
      <li>Combinando valores usando agregación</li>
      <li>Combinando información de múltiples tablas usando <code>join</code></li>
      <li>Crear, modificar y eliminar datos</li>
      <li>Programación con bases de datos</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference/">Referencia...</a></li>
    </ul>
  </div>
   -->
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introducción a OpenRefine</li>
      <li>Importar datos</li>
      <li>Funciones básicas</li>
      <li>Funciones avanzadas</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Referencia...</a></li>
    </ul>
  </div>
</div>
