<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  is made by people working in library- and information-related roles to help you:
</p>
<ul>
  <li>automate repetitive, boring, error-prone tasks</li>
  <li>create, maintain and analyze sustainable and reusable data</li>
  <li>work effectively with IT and systems colleagues</li>
  <li>better understand the use of software in research</li>
  <li>and much more...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry introduces you to the fundamentals of computing
    and provides you with a platform for further self-directed learning.
    For more information on what we teach and why, please see our paper
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
