<p>
    <a href="{{site.lc_site}}">Library Carpentry</a> está hecho por bibliotecarios, para que los bibliotecarios lo ayuden:
</p>
    <ul>
        <li>automatizar tareas repetitivas, aburridas y propensas a errores</li>
        <li>crear, mantener y analizar datos sostenibles y reutilizables </li>
        <li>trabaja eficazmente con los colegas de TI y sistemas</li>
        <li>comprender mejor el uso del software en la investigación</li>
        <li>y mucho más ...</li>
    </ul>
<p align = "center">
    <em>
      Library Carpentry te presenta los fundamentos de la informática y le proporciona una plataforma para un mayor aprendizaje autodirigido. Para obtener más información sobre lo que enseñamos y por qué consulte nuestro documento "<a href="http://doi.org/10.18352/lq.10176"> Library Carpentry: software skills training for library professionals</a>".
    </em>
</p>
