<div class="row">
    <div class="col-md-6">
        <h3>Día 1</h3>
        <table class="table table-striped">
        <tr><td>09:00</td><td>Introducción de datos para bibliotecarios</td></tr>
        <tr><td>10:30</td><td>Café</td></tr>
        <tr><td>12:00</td><td>Almuerzo</td></tr>
        <tr><td>13:00</td><td>Lecciones de termina de Unix para bibliotecas</td></tr>
        <tr><td>14:30</td><td>Café</td></tr>
        <tr><td>16:00</td><td>Cierre</td></tr>
    </table>
</div>
    <div class="col-md-6">
        <h3>Día 2</h3>
        <table class="table table-striped">
        <tr><td>09:00</td><td>Introducción de Git para bibliotecarios</td></tr>
        <tr><td>10:30</td><td>Café</td></tr>
        <tr><td>12:00</td><td>Almuerzo</td></tr>
        <tr><td>13:00</td><td>OpenRefine para bibliotecarios</td></tr>
        <tr><td>14:30</td><td>Café</td></tr>
        <tr><td>16:00</td><td>Cierre</td></tr>
        </table>
    </div>
</div>
