<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Introducción de datos</h3>
    <ul>
      <li>Introducción a los datos</li>
      <li>Jargon revienta</li>
      <li>Atajos de teclado</li>
      <li>Formatos de texto sin formato</li>
      <li>Nombrar archivos</li>
      <li>Expresiones regulares</li>
      <li><a href="https://data-lessons.github.io/library-data-intro/reference/">Referencia...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">La Termina de Unix</h3>
    <ul>
      <li>Archivos y directorios</li>
      <li>History and tab completion</li>
      <li>Contando y clasificando contenidos en archivos</li>
      <li>Tuberías y redirección</li>
      <li>Minería o búsqueda en archivos</li>
      <li><a href="https://data-lessons.github.io/library-shell/reference/">Referencia...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Control de versiones con Git</h3>
    <ul>
      <li>Creando un repositoria</li>
      <li>Configurando Git</li>
      <li>Grabación de cambios en los archivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viendo los cambios de estado con <code>status</code></li>
      <li>Trabajando en la web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Dónde alojar el trabajo y por qué</li>
      <li><a href="https://data-lessons.github.io/library-git/reference">Referencia...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-r">OpenRefine</h3>
      <ul>
        <li>Introducción a OpenRefine</li>
        <li>Importar datos</li>
        <li>Funciones básicas</li>
        <li>Funciones avanzadas</li>
        <li><a href="https://data-lessons.github.io/library-openrefine/reference">Referencia...</a></li>
      </ul>
    </div>
  </div>
</div>
<!--div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-sql">SQL Intro</h3>
    <ul>
      <li>What is SQL?</li>
      <li>Intro to SQLite Manager</li>
      <li>Importing a database</li>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li><a href="https://data-lessons.github.io//library-sql/reference/">Reference...</a></li>
    </ul>
  </div>
</div>
-->
